#MainContent {
    width: 100%;
    height: 1000px;
    background: #dddbd4;
    display: flex;
    justify-content: center;
    gap: 150px;

}

#card {
    width: 450px;
    height: 500px;
    border: 1px solid #1d2f3e;
    margin-top: 9%;
    text-align: center;
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    color: #1d2f3e;
}

p {
    color: #1d2f3e;
    margin-top: 10px;
    font-size: 1.3rem;
    text-align: center;
}

#Btn {

    color: #1d2f3e;
    margin-top: 30px;
    font-size: 1.3rem;
    padding: 10px;
    font-weight: 600;
    font-variant: small-caps;
    background: rgb(100, 178, 100);
    border-radius: 5px;

}