#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center
}

button {
  margin: 25px;
  border: none;
  font-weight: 600;
  font-variant: small-caps;
  background: rgb(255, 255, 255);
  color: #000;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.5em;
}

#countervalues {
  background: rgb(227, 228, 228);
  color: #000;
  font-size: 2.5em;
  border-radius: 10px;
}

#counterappp {
  border: 2px solid #fff;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;

}

#heder {
  font-variant: small-caps;

}